/*=========================================================================================
* greanish ##34c6d3
* black gray #41464b
* black light gray 64707b
*
*=========================================================================================*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto condesed', sans-serif;
}

.paralax-effect {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


.content-box {
    width: 100%;

}

.content-box-header {

    text-align: center;
    margin-bottom: 30px;
    margin-top: 45px;
 animation-duration: 1s;

}

.content-box-header h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 8px 0px 5px 0;
}

.header-underline {
    border: #34c6d3 solid 2px;
    width: 40px;
    margin: 0 auto 0 auto;
}

/*======================butuns=======================*/
.btn-general {

    border-radius: 0;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 16px;
    padding: 10px
}

.btn-white {
    border-color: #fff;
    color: #fff;

}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}
.btn-grenish {
    border-color: #34c6d3;
    color: #34c6d3;

}

.btn-grenish:hover,
.btn-grenish:focus {
    background-color: #34c6d3;
    color: #fff;
}
/*=======================home========================
*
*/
#home {
    height: 100%;
}

#home-cover,
#home-heading,
#btnwork {
    animation-duration: .5s;
}


#home-cover {
    background-image: url('../img/bg-home.jpg');
    height: 100%;

    animation-delay: .1s;
}

#home-box {
    display: table;
    height: 100%;
    width: 100%;
}

#home-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-transform: uppercase;


}

#home-heading {

    animation-delay: .5s;
}

#btnwork {
    animation-delay: 1s;
}

/*====================================service=================*/
.service-item:hover  .service-icon i{
    color: #fff;
    background-color:  #34c6d3;
}
.service-item {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
}

.service-header h3 {
    font-size: 18px;
}

.service-icon i {
    float: left;
    padding: 16px;
    color: #34c6d3;
    margin: 4px;

}

.service-desc p {
    font-size: 14px;
    color: #41464b;
}
/*====================================about=================*/
#about-box{
    display: table;
    float: lef;
      height: 700px;
    width: 100%;
}
#about-box-inner{
    display: table-cell;
    vertical-align: middle;
}

.about-content p{
      font-size: 14px;
    color: #41464b;
}
#about-btn{
    margin:20px 0 0 0;
}

#about-diagonal-bg{
    width: 60%;
    height: 700px;
    float:right;
    border-top: solid transparent 700px;
    border-left: solid #fff 330px;
    background-image: url(../img/bg-about.jpg)
    
}
#about-underline{
     border: #34c6d3 solid 2px;
    width: 40px;
   margin-bottom: 30px;
}

/*================================work============================*/
div.works-container [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
.image-wrapper a  img:hover{
    transform: scale(1.5);
    
}
.image-wrapper {
    overflow: hidden;
    
}
.image-wrapper img{
    transition: transform .5s ease;
}

/*==============================team===========================*/
.team h4.name {
    text-transform:uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.team h4.location {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #34c6d3;
}
.social-link{
    padding: 0;
}
.social-link li{
    list-style: none;
    display: inline;
     color: #64707b;

}

.team{
    text-align: center;
   
}
.teams}{
     animation-delay: .5s;
    animation-duration: 1s;
}
/*===========================testimonial=============================*/
.cover-testimonial{
    background-image: url('../img/bg-testimonials.jpg');
}
#testimonial-title h3{
    color: #fff;
    
}
#testimonial-box{
    padding-top: 30px;
    padding-bottom: 50px;
}
.testimonial-item{
    text-align: center;
    margin-bottom: 20px;
   
}
.testimonial-item img{
    max-width: 22%;
    max-height: 22%;
    margin: 0 auto 0 auto;
}
.testimonial-item blockquote{
    color: #fff;
    font-size: 18px;
    font-style: italic;
     position: relative;
    height: 108px;
}
.testimonial-item blockquote::before,
.testimonial-item blockquote::after{
   
    color: #fff;
    font-size: 73px;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 1;
    
}
.testimonial-item blockquote::before{
  
    content: '\201C';
   
      left: 0px;
    top: -37px;
}
.testimonial-item blockquote::after{
    content:'\201d';
   bottom: 0;
    right: 0;

}

/*==========================================pricing========================*/
#pricing-box div.container{
    margin-top: 40px;
    
}
.pricing-title{
        font-size: 16px;
    font-weight: 400;
    background-color: #34c6d3;
    display: inline;
    padding: 5px;
   
}
.pricing-value{
    margin: 40px 0 40px 0 !important;
}

.price-container {
    padding: 40px 0 30px 0;
    border: #34C6D4 solid 2px;
    margin: 20px 0 20px 0;
}
.order-details{
    list-style: none;
    margin: 0;
    padding: 0;
    margin:0 0 60px 0;
}
.order-details li{
    margin:10px 0 10px 0;
}
.price-container-lg{
   margin: 0;
    padding: 101px 0 80px 0;
    background-color: #34c6d3;
    
}
.price-container-lg h4.pricing-title{
    color: #34c6d3;
    background-color: #fff;
}
